body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "lobster", cursive, cursive; }

h1 {
  color: #DE6426;
  font-size: 80px; }

h2 {
  color: black; }

header h2 {
  color: #78A22F; }

footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px, 0; }

.jumbotron {
  margin: 0;
  padding: 15px;
  background-color: light gray;
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #DE6426;
  color: black;
  color: #78A22F; }

.site-footer {
  background-image: linear-gradient(#CEC8FF), white;
  padding: 20px 0; }

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #5637dd; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }
